.bodybg{
    -fx-background-color: linear-gradient(from 25px 25px to 400px 400px, #090979, #00d4ff);
   }


.shadow{
    -fx-effect: innershadow( gaussian , rgba(0,0,0,0.1) , 10,0,0,0 );
}

.detailsbg{
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, grey, 10, 0, 0, 10);
}