# Members of group 84
Steffen Hæren <steffhae@stud.ntnu.no> <steffenhaeren@gmail.com>
Gerhard Gustavsen <gerhargu@stud.ntnu.no>
Sara Pedersen <saraped@stud.ntnu.no>
Linn Holst-Dyrnes <linhols@stud.ntnu.no> <unconfigured@null.spigotmc.org>
Johannes Finne Reinseth <johafr@stud.ntnu.no>
Casper Faarlund <caspef@stud.ntnu.no>
